stages:
  - test
  - image_build_umamibase
  - integration_test_preprocessing
  - integration_test_tagger
  - builds
  - image_build_umami
  - publish

unittest:
  stage: test
  image: python:3.7
  script:
    - pip install -r requirements.txt
    - coverage run --source=. -m  pytest ./umami/tests/unit/ -v --junitxml=report.xml
    - coverage report
    - coverage xml
  artifacts:
    when: always
    reports:
      cobertura: coverage.xml
      junit: report.xml

linter:
  stage: test
  image: python:3.7-slim
  script:
    - pip install flake8
    - flake8 ./umami

unittest_MR:
  stage: test
  image: python:3.7
  script:
    - pip install -r requirements.txt
    - coverage run --source=. -m  pytest ./umami/tests/unit/ -v --junitxml=report.xml
    - coverage report
    - coverage xml
  only:
    - merge_requests@atlas-flavor-tagging-tools/algorithms/umami
  artifacts:
    when: always
    reports:
      cobertura: coverage.xml
      junit: report.xml

linter_MR:
  stage: test
  image: python:3.7-slim
  script:
    - pip install flake8
    - flake8 ./umami
  only:
    - merge_requests@atlas-flavor-tagging-tools/algorithms/umami

include:
  - 'pipelines/.docker-gitlab-ci.yaml'
  - 'pipelines/.docs-gitlab-ci.yaml'
  - 'pipelines/.integration_test-gitlab-ci.yaml'
