# Tag of TensorFlow base image
# https://pypi.org/project/tensorflow/#history
variables:
  TFTAG: 2.7.0
  TORCHTAG: 1.9.0-cuda11.1-cudnn8-runtime
  MKDOCS_VERSION: '1.2.1'
  MATERIAL_VERSION: '7.1.10'
  I18NSTATIC_VERSION: '0.17'

stages:
  - check_mr
  - linting
  - image_build_umamibase
  - unit_test
  - integration_test_preprocessing
  - integration_test_tagger
  - integration_test_plotting
  - coverage_test_stage
  - builds
  - image_build_umami
  - publish
  - pages

checking_mr:
  stage: check_mr
  image: python:3.8-slim
  before_script:
    - pip install --upgrade pip setuptools wheel
    - pip install python-gitlab==2.10.1
    - pip install pylint==2.12.2
    - pip install pyyaml
  rules:
    - if: $CI_PIPELINE_SOURCE == "merge_request_event" && $CI_MERGE_REQUEST_EVENT_TYPE != "merge_train" && $CI_PROJECT_PATH=="atlas-flavor-tagging-tools/algorithms/umami"
  script:
    - python pipelines/gitlab-check-mr.py

include:
  - 'pipelines/.linting-gitlab-ci.yaml'
  - 'pipelines/.unit_test-gitlab-ci.yaml'
  - 'pipelines/.docker-gitlab-ci.yaml'
  - 'pipelines/.integration_test-gitlab-ci.yaml'
  - 'pipelines/.coverage-gitlab-ci.yaml'
  - 'pipelines/.deployment-gitlab-ci.yaml'
