site_name: Umami documentation
site_description: Documentation for Umami
site_author: Umami team
site_url: https://umami-docs.web.cern.ch

repo_name: GitLab
repo_url: https://gitlab.cern.ch/atlas-flavor-tagging-tools/algorithms/umami
edit_uri: 'tree/master/docs'

theme:
    name: material
    palette:
        primary: teal
    features:
    - navigation.tabs
    - navigation.tabs.sticky
    - navigation.sections
    - navigation.indexes
    - navigation.top


nav:
    - Home: index.md
    - Setup:
        # - setup/index.md
        - Installation: setup/installation.md
        - Development:
            - Overview: setup/development/index.md
            - Good practices code: setup/development/good_practices_code.md
            - Good practices docs: setup/development/good_practices_docs.md
            - VS Code: setup/development/VS_code.md

        - Changelog: setup/changelog.md
    - Preprocessing:
        - Overview: preprocessing/preprocessing.md
        - MC samples: preprocessing/mc-samples.md
        - Truth labels: preprocessing/truth_labels.md
    - Trainings:
        - Overview: trainings/index.md
        - Instructions: trainings/train-instructions.md
        - Running GNN: trainings/GNN-instructions.md
        - Feature Importance: trainings/Feature_Importance.md
        - LWTNN Conversion: trainings/LWTNN-conversion.md
    - Plotting:
        - Overview: plotting/index.md
        - Input variables: plotting/plotting_inputs.md
        - Tagger performance: plotting/plotting_umami.md
        - Evaluate Taggers in Samples: plotting/WO_trained_model.md
        - Python API:
            - Overview: plotting/python_api/index.md
            - ROC plots: plotting/python_api/rocs.md
            - Variable vs efficiency plots: plotting/python_api/var_vs_eff.md
            - Histogram plots: plotting/python_api/histograms.md
            - Dummy data: plotting/python_api/dummy_data.md
            - Input Correlation plots: plotting/python_api/input_correlations.md

plugins:
    - search

markdown_extensions:
    - admonition
    - codehilite
    - pymdownx.arithmatex
    - pymdownx.details
    - pymdownx.inlinehilite
    - pymdownx.smartsymbols
    - pymdownx.snippets
    - pymdownx.superfences


extra_javascript:
    - 'https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.0/MathJax.js?config=TeX-MML-AM_CHTML'
