site_name: Umami documentation
site_description: Documentation for Umami
site_author: Umami team
site_url: https://umami-docs.web.cern.ch

repo_name: GitLab
repo_url: https://gitlab.cern.ch/atlas-flavor-tagging-tools/algorithms/umami
edit_uri: 'tree/master/docs'

theme:
    name: material

nav:
    - Home: index.md
    - Installation: installation.md
    - Development: development.md
    - MC samples: mc-samples.md
    - Preprocessing: preprocessing.md
    - Training: train-instructions.md
    - Running GNN: GNN-instructions.md
    - LWTNN Conversion: LWTNN-conversion.md
    - Evaluate Taggers in Samples: WO_trained_model.md
    - Plotting:
          - "Input variables": plotting/plotting_inputs.md
          - "Tagger performance": plotting/plotting_umami.md
    - Feature Importance: Feature_Importance.md

plugins:
    - search

markdown_extensions:
    - admonition
    - codehilite
    - pymdownx.arithmatex
    - pymdownx.details
    - pymdownx.inlinehilite
    - pymdownx.smartsymbols
    - pymdownx.superfences


extra_javascript:
    - 'https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.0/MathJax.js?config=TeX-MML-AM_CHTML'
