numpy
pandas
dask
dask-ml
toolz
fsspec>=0.3.3
xhistogram
keras
uproot
jupyter
jupyterlab
matplotlib
seaborn
hep_ml
sklearn
tables
papermill
pydot 
Pillow
xarray
netcdf4
h5netcdf
pytest
flake8
partd
mlxtend
