# Set modelname and path to Pflow preprocessing config file
model_name: dips_Loose_lr_0.001_bs_15000_epoch_200_nTrainJets_Full
preprocess_config: /work/ws/nemo/fr_af1100-Training-Simulations-0/b-Tagging/packages/umami/examples/PFlow-Preprocessing.yaml

# Add training file
train_file: /work/ws/nemo/fr_af1100-Training-Simulations-0/preprocessed/PFlow-hybrid-Loose-preprocessed_shuffled.h5

# Add validation files
# ttbar val
validation_file: /work/ws/nemo/fr_af1100-Training-Simulations-0/hybrids/MC16d_hybrid_odd_100_PFlow-Loose-no_pTcuts-file_0.h5

# zprime val
add_validation_file: /work/ws/nemo/fr_af1100-Training-Simulations-0/hybrids/MC16d_hybrid-ext_odd_0_PFlow-Loose-no_pTcuts-file_0.h5

# Add test files
# ttbar test
test_file: /work/ws/nemo/fr_af1100-Training-Simulations-0/hybrids/MC16d_hybrid_odd_100_PFlow-Loose-no_pTcuts-file_1.h5

# zprime test
add_test_file: /work/ws/nemo/fr_af1100-Training-Simulations-0/hybrids/MC16d_hybrid-ext_odd_0_PFlow-Loose-no_pTcuts-file_1.h5

# comparison file ttbar
comparison_file: /work/ws/nemo/fr_af1100-Training-Simulations-0/ntuples_p4364_val/user.alfroch.410470.btagTraining.e6337_s3126_r12305_p4364.EMPFlow_loose.2021-03-22-T161653-R7891_output.h5/user.alfroch.24633320._000002.output.h5

# comparison file zprime
add_comparison_file: /work/ws/nemo/fr_af1100-Training-Simulations-0/ntuples_p4364_val/user.alfroch.800030.btagTraining.e7954_s3582_r12305_r12253_r12305_r12298_p4364.EMPFlow_loose.2021-03-23-T124717-R15069_output.h5/user.alfroch.24641686._000001.output.h5

# Path to Variable dict used in preprocessing
var_dict: /work/ws/nemo/fr_af1100-Training-Simulations-0/b-Tagging/packages/umami/umami/configs/Dips_Variables.yaml

bool_use_taus: False

exclude: []

# Values for the neural network
NN_structure:
    # NN Training parameters
    lr: 0.001
    batch_size: 15000
    epochs: 200

    # Number of jets used for training
    # To use all: Fill nothing
    nJets_train:

    # Dropout rate. If = 0, dropout is disabled
    dropout: 0

    # Number of output classes
    nClasses: 3

    # Decide if Batch Normalisation is used
    Batch_Normalisation: True

    # Structure of the dense layers for each track
    ppm_sizes: [100, 100, 128]

    # Structure of the dense layers after summing up the track outputs
    dense_sizes: [100, 100, 100, 30]

# Eval parameters for validation evaluation while training
Eval_parameters_validation:
    # Number of jets used for validation
    n_jets: 3e5

    # Charm fraction value used for evaluation
    fc_value: 0.018

    # b Working point used in the evaluation
    WP_b: 0.77

    # Enable/Disable atlas tag
    UseAtlasTag: True

    # fc_value and WP_b are autmoatically added to the plot label
    AtlasTag: "Internal Simulation"
    SecondTag: "\n$\\sqrt{s}=13$ TeV, PFlow jets"

    # Set the datatype of the plots
    plot_datatype: "pdf"