# Evaluation parameters, these are global parmeters defining the default evaluation file.
Eval_parameters:
  Path_to_models_dir: <Path_to_models_dir>
  model_name: umami_looseTrack_22M
  epoch: 249
  epoch_to_name: True

# Contour fraction plot
contour_fraction_ttbar:
  type: "Frac_Contour"
  rejections: ["ujets", "cjets"]
  models_to_plot:
    dips:
      tagger_name: "dips"
      colour: "b"
      linestyle: "--"
      label: "DIPS"
      data_set_name: "ttbar_r21"
      marker:
        cjets: 0.1
        ujets: 0.9
        marker_style: "x"
    umami:
      tagger_name: "umami"
      colour: "r"
      linestyle: "--"
      label: "Umami"
      data_set_name: "ttbar_r21"
  plot_settings:
    yAxisIncrease: 1.3 # Increasing of the y axis so the plots dont collide with labels (mainly AtlasTag)
    UseAtlasTag: True # Enable/Disable AtlasTag
    AtlasTag: "Simulation Internal"
    SecondTag: "\n$\\sqrt{s}=13$ TeV, PFlow Jets,\n$t\\bar{t}$ Test Sample, WP = 77 %"
    yAxisAtlasTag: 0.9 # y axis value (1 is top) for atlas tag

# Dips, ttbar
scores_Umami_ttbar:
  type: "scores"
  data_set_name: "ttbar_r21" # data set to use. This is the dict entry name of the file you want to plot in the train config
  tagger_name: "umami" # Name of the tagger: Example: dips_pb -> Name of tagger: dips
  class_labels: ["ujets", "cjets", "bjets"] # Classes which are used
  main_class: "bjets" # Main class
  plot_settings:
    WorkingPoints: [0.60, 0.70, 0.77, 0.85] # Set Working Point Lines in plot
    nBins: 50 # Number of bins
    yAxisIncrease: 1.3 # Increasing of the y axis so the plots dont collide with labels (mainly AtlasTag)
    UseAtlasTag: True # Enable/Disable AtlasTag
    AtlasTag: "Simulation Internal"
    SecondTag: "\n$\\sqrt{s}=13$ TeV, PFlow Jets,\n$t\\bar{t}$ Test Sample"
    yAxisAtlasTag: 0.9 # y axis value (1 is top) for atlas tag

# Umami, ttbar
scores_Umami_ttbar_comparison:
  type: "scores_comparison"
  main_class: "bjets"
  models_to_plot:
    umami_r21:
      data_set_name: "ttbar_r21"
      tagger_name: "umami"
      class_labels: ["ujets", "cjets", "bjets"]
      label: "$t\\bar{t}$"
    umami_r22: # The name here has no impact on anything.
      data_set_name: "ttbar_r21"
      tagger_name: "umami"
      class_labels: ["ujets", "cjets", "bjets"]
      label: "$t\\bar{t} 2$"
  plot_settings:
    WorkingPoints: [0.60, 0.70, 0.77, 0.85] # Set Working Point Lines in plot
    nBins: 50 # Number of bins
    yAxisIncrease: 1.4 # Increasing of the y axis so the plots dont collide with labels (mainly AtlasTag)
    figsize: [8, 6] # [width, hight]
    UseAtlasTag: True # Enable/Disable AtlasTag
    AtlasTag: "Simulation Internal"
    SecondTag: "\n$\\sqrt{s}=13$ TeV, PFlow Jets"
    yAxisAtlasTag: 0.9 # y axis value (1 is top) for atlas tag
    Ratio_Cut: [0.5, 1.5]

confusion_matrix_Umami_ttbar:
  type: "confusion_matrix"
  data_set_name: "ttbar_r21"
  tagger_name: "umami"
  class_labels: ["ujets", "cjets", "bjets"]
  plot_settings:
    colorbar: True

# Scanning b-eff, comparing Umami and DL1r, ttbar
beff_scan_tagger_umami:
  type: "ROC"
  main_class: "bjets"
  models_to_plot:
    umami_r21: # The name here has no impact on anything.
      data_set_name: "ttbar_r21"
      label: "UMAMI"
      tagger_name: "umami"
      rejection_class: "cjets"
  plot_settings:
    binomialErrors: True
    xmin: 0.5
    ymax: 1000000
    figsize: [7, 6] # [width, hight]
    WorkingPoints: [0.60, 0.70, 0.77, 0.85]
    UseAtlasTag: True # Enable/Disable AtlasTag
    AtlasTag: "Simulation Internal"
    SecondTag: "\n$\\sqrt{s}=13$ TeV, PFlow Jets,\n$t\\bar{t}$ Validation Sample, fc=0.018"
    yAxisAtlasTag: 0.9 # y axis value (1 is top) for atlas tag

Umami_prob_pb:
  type: "probability"
  data_set_name: "ttbar_r21"
  tagger_name: "umami"
  class_labels: ["ujets", "cjets", "bjets"]
  prob_class: "bjets"
  plot_settings:
    logy: True
    nBins: 50
    yAxisIncrease: 10
    UseAtlasTag: True
    AtlasTag: "Simulation Internal"
    SecondTag: "\n$\\sqrt{s}=13$ TeV, PFlow Jets,\n$t\\bar{t}$ Test Sample"
    yAxisAtlasTag: 0.9 # y axis value (1 is top) for atlas tag

Umami_prob_comparison_pb:
  type: "probability_comparison"
  prob_class: "bjets"
  models_to_plot:
    umami_r22:
      data_set_name: "ttbar_r21"
      label: "UMAMI"
      tagger_name: "umami"
      class_labels: ["ujets", "cjets", "bjets"]
    umami_r21:
      data_set_name: "ttbar_r21"
      label: "Umami DIPS"
      tagger_name: "dips"
      class_labels: ["ujets", "cjets", "bjets"]
  plot_settings:
    nBins: 50
    logy: False
    yAxisIncrease: 100
    figsize: [8, 6]
    UseAtlasTag: True
    AtlasTag: "Simulation Internal"
    SecondTag: "\n$\\sqrt{s}=13$ TeV, PFlow Jets"
    yAxisAtlasTag: 0.9

# Scanning b-eff, comparing Umami and DL1r, ttbar
beff_scan_tagger_compare_umami:
  type: "ROC_Comparison"
  models_to_plot:
    dips_ttbar_urej:
      data_set_name: "ttbar_r21"
      label: "Umami DIPS"
      tagger_name: "dips"
      rejection_class: "ujets"
    umami_ttbar_urej:
      data_set_name: "ttbar_r21"
      label: "Umami"
      tagger_name: "umami"
      rejection_class: "ujets"
    dips_ttbar_crej:
      data_set_name: "ttbar_r21"
      label: "Umami DIPS"
      tagger_name: "dips"
      rejection_class: "cjets"
    umami_ttbar_crej:
      data_set_name: "ttbar_r21"
      label: "Umami"
      tagger_name: "umami"
      rejection_class: "cjets"
  plot_settings:
    binomialErrors: True
    xmin: 0.5
    ymax: 1000000
    figsize: [9, 9] # [width, hight]
    WorkingPoints: [0.60, 0.70, 0.77, 0.85]
    UseAtlasTag: True # Enable/Disable AtlasTag
    AtlasTag: "Simulation Internal"
    SecondTag: "\n$\\sqrt{s}=13$ TeV, PFlow Jets,\n$t\\bar{t}$ Validation Sample, fc=0.018"
    yAxisAtlasTag: 0.9 # y axis value (1 is top) for atlas tag
