# Evaluation parameters
Eval_parameters:
  Path_to_models_dir: /work/ws/nemo/fr_af1100-Training-Simulations-0/b-Tagging/packages/umami/umami
  model_name: dips_Loose_lr_0.001_bs_15000_epoch_200_nTrainJets_Full
  epoch: 59
  bool_use_taus: False

# Dips, ttbar
scores_Dips_ttbar:
  type: "scores"
  data_set_name: "ttbar" # data set to use. This chooses either the test_file ('ttbar') or the add_test_file ('zpext')
  prediction_labels: ["dips_pb", "dips_pc", "dips_pu"] # For umami use umami_pX or dips_pX
  plot_settings:
    WorkingPoints: [0.60, 0.70, 0.77, 0.85] # Set Working Point Lines in plot
    nBins: 50 # Number of bins
    yAxisIncrease: 1.3 # Increasing of the y axis so the plots dont collide with labels (mainly AtlasTag)
    UseAtlasTag: True # Enable/Disable AtlasTag
    AtlasTag: "Internal Simulation"
    SecondTag: "\n$\\sqrt{s}=13$ TeV, PFlow Jets,\n$t\\bar{t}$ Test Sample"
    yAxisAtlasTag: 0.9 # y axis value (1 is top) for atlas tag

# Dips, ttbar
scores_Dips_ttbar_comparison:
  type: "scores_comparison"
  models_to_plot:
    dips_r21:
      data_set_name: "ttbar"
      label: "$t\\bar{t}$"
      prediction_labels: ["dips_pb", "dips_pc", "dips_pu"] # For umami use umami_pX or dips_pX
    dips_r22: # The name here has no impact on anything.
      data_set_name: "zpext"
      label: "$Z'$"
      prediction_labels: ["dips_pb", "dips_pc", "dips_pu"] # For umami use umami_pX or dips_pX
  plot_settings:
    WorkingPoints: [0.60, 0.70, 0.77, 0.85] # Set Working Point Lines in plot
    nBins: 50 # Number of bins
    yAxisIncrease: 1.4 # Increasing of the y axis so the plots dont collide with labels (mainly AtlasTag)
    figsize: [8, 6] # [width, hight]
    UseAtlasTag: True # Enable/Disable AtlasTag
    AtlasTag: "Internal Simulation"
    SecondTag: "\n$\\sqrt{s}=13$ TeV, PFlow Jets"
    yAxisAtlasTag: 0.9 # y axis value (1 is top) for atlas tag
    Ratio_Cut: [0.5, 1.5]

Dips_pT_vs_beff:
  type: "pT_vs_eff"
  models_to_plot:
    rnnip:
      data_set_name: "ttbar"
      label: "Reco. RNNIP"
      prediction_labels: ["rnnip_pb", "rnnip_pc", "rnnip_pu"]
    dips:
      data_set_name: "ttbar"
      label: "DIPS"
      prediction_labels: ["dips_pb", "dips_pc", "dips_pu"]
  plot_settings:
    bin_edges: [0, 20, 30, 40, 60, 85, 110, 140, 175, 250, 400, 1000]
    flavor: 2
    WP: 0.77
    WP_Line: True
    binomialErrors: True
    Fixed_WP_Bin: False
    Same_WP_Cut_Comparison: False
    figsize: [7, 5]
    Log: False
    UseAtlasTag: True
    AtlasTag: "Internal Simulation"
    SecondTag: "\n$\\sqrt{s}=13$ TeV, PFlow Jets,\n$t\\bar{t}$ Test Sample"
    yAxisAtlasTag: 0.9
    yAxisIncrease: 1.3

Dips_light_flavour_ttbar:
  type: "ROC"
  models_to_plot:
    rnnip_r21:
      data_set_name: "ttbar"
      label: "Recommended RNNIP"
      df_key: "rnnip_urej"
      color: "C0"
    dips_r21: # The name here has no impact on anything.
      data_set_name: "ttbar"
      label: "DIPS"
      df_key: "dips_urej" # This is actually the rejection rate of the DL1r tragger trained with the umami framework
      color: "C1"
  plot_settings: # These settings are given to the umami.evaluation_tools.plotROCRatio() function by unpacking them.
    ylabel: "light"
    binomialErrors: True
    xmin: 0.5
    ymax: 1000000
    figsize: [7, 6] # [width, hight]
    WorkingPoints: [0.60, 0.70, 0.77, 0.85]
    UseAtlasTag: True # Enable/Disable AtlasTag
    AtlasTag: "Internal Simulation"
    SecondTag: "\n$\\sqrt{s}=13$ TeV, PFlow Jets,\n$t\\bar{t}$ Validation Sample, fc=0.018"
    yAxisAtlasTag: 0.9 # y axis value (1 is top) for atlas tag

Dips_Comparison_flavour_ttbar:
  type: "ROC_Comparison"
  models_to_plot:
    rnnip_r21_u:
      data_set_name: "ttbar"
      label: "Reco. RNNIP"
      df_key: "rnnip_urej"
      rejection: "Light"
    dips_r21_u: # The name here has no impact on anything.
      data_set_name: "ttbar"
      label: "DIPS"
      df_key: "dips_urej" # This is actually the rejection rate of the DL1r tragger trained with the umami framework
      rejection: "Light"
    rnnip_r21_c:
      data_set_name: "ttbar"
      label: "Reco. RNNIP"
      df_key: "rnnip_crej"
      rejection: "c"
    dips_r21_c: # The name here has no impact on anything.
      data_set_name: "ttbar"
      label: "DIPS"
      df_key: "dips_crej" # This is actually the rejection rate of the DL1r tragger trained with the umami framework
      rejection: "c"
  plot_settings: # These settings are given to the umami.evaluation_tools.plotROCRatio() function by unpacking them.
    binomialErrors: True
    xmin: 0.5
    ymax: 1000000
    figsize: [9, 9] # [width, hight]
    WorkingPoints: [0.60, 0.70, 0.77, 0.85]
    UseAtlasTag: True # Enable/Disable AtlasTag
    AtlasTag: "Internal Simulation"
    SecondTag: "\n$\\sqrt{s}=13$ TeV, PFlow Jets,\n$t\\bar{t}$ Validation Sample, fc=0.018"
    yAxisAtlasTag: 0.9 # y axis value (1 is top) for atlas tag

confusion_matrix_Dips_ttbar:
  type: "confusion_matrix"
  data_set_name: "ttbar"
  prediction_labels: ["dips_pb", "dips_pc", "dips_pu"] # For umami use umami_pX or dips_pX. The order matters!

Dips_saliency_b_WP77_passed_ttbar:
  type: "saliency"
  plot_settings:
    data_set_name: "ttbar"
    title: "Saliency map for $b$ jets from \n $t\\bar{t}$ who passed WP = 77% \n with exactly 8 tracks"
    target_beff: 0.77
    # u=0, c=1, b=2
    jet_flavour: 2
    PassBool: True
    FlipAxis: True
    UseAtlasTag: True # Enable/Disable AtlasTag
    AtlasTag: "Internal Simulation"
    SecondTag: "\n$\\sqrt{s}=13$ TeV, PFlow Jets"
    yAxisAtlasTag: 0.925

# Dips, ttbar
Dips_prob_pb:
  type: "probability"
  data_set_name: "ttbar" # data set to use. This chooses either the test_file ('ttbar') or the add_test_file ('zpext')
  prediction_labels: "dips_pb" # For umami use umami_pX or dips_pX
  plot_settings:
    x_label: "DIPS Probability $b$-Jet"
    Log: True
    nBins: 50 # Number of bins
    yAxisIncrease: 10 # Increasing of the y axis so the plots dont collide with labels (mainly AtlasTag)
    UseAtlasTag: True # Enable/Disable AtlasTag
    AtlasTag: "Internal Simulation"
    SecondTag: "\n$\\sqrt{s}=13$ TeV, PFlow Jets,\n$t\\bar{t}$ Test Sample"
    yAxisAtlasTag: 0.9 # y axis value (1 is top) for atlas tag

Dips_prob_comparison_pb:
  type: "probability_comparison"
  models_to_plot:
    dips_r21:
      data_set_name: "ttbar"
      label: "DIPS"
      prediction_label: "dips_pb"
    rnnip_r21:
      data_set_name: "ttbar"
      label: "RNNIP"
      prediction_label: "rnnip_pb"
  plot_settings:
    nBins: 50 # Number of bins
    Log: True
    x_label: "DIPS Probability $b$-Jet"
    yAxisIncrease: 100 # Increasing of the y axis so the plots dont collide with labels (mainly AtlasTag)
    figsize: [8, 6] # [width, hight]
    UseAtlasTag: True # Enable/Disable AtlasTag
    AtlasTag: "Internal Simulation"
    SecondTag: "\n$\\sqrt{s}=13$ TeV, PFlow Jets"
    yAxisAtlasTag: 0.9 # y axis value (1 is top) for atlas tag
    Ratio_Cut: [0.5, 1.5]
