# Evaluation parameters
Eval_parameters:
  Path_to_models_dir: /nfs/dust/atlas/user/ahnenjan/phd/DL1/run/models/new_DL1r_22M/
  model_name: DL1r_22M
  epoch: 10
  epoch_to_name: True

scores_DL1r: # Each item on this level defines one plot. The name of this key is later used for the name of the output file.
  type: "scores"
  data_set_name: "ttbar" # data set to use. This chooses either the test_file ('ttbar') or the add_test_file ('zpext')
  tagger_name: "DL1" # Name of the tagger: Example: dips_pb -> Name of tagger: dips
  class_labels: ["ujets", "cjets", "bjets"] # Classes which are used
  main_class: "bjets" # Main class
  plot_settings:  # All options of the score plot can be changed here
    UseAtlasTag: True # Enable/Disable AtlasTag
    AtlasTag: "Internal Simulation"
    SecondTag: "\n$\\sqrt{s}=13$ TeV, PFlow Jets,\n$t\\bar{t}$ Test Sample"
    yAxisAtlasTag: 0.9 # y axis value (1 is top) for atlas tag

confusion_matrix_DL1r:
  type: "confusion_matrix"
  data_set_name: "ttbar"
  tagger_name: "DL1"
  class_labels: ["ujets", "cjets", "bjets"]
  plot_settings:
    colorbar: True

DL1r_light_flavour:
  type: "ROC"
  main_class: "bjets"
  models_to_plot:
    DL1r: # The name here has no impact on anything.
      data_set_name: "ttbar"
      label: "DL1r"
      tagger_name: "DL1"
      rejection_class: "cjets"
  plot_settings: # These settings are given to the umami.evaluation_tools.plotROCRatio() function by unpacking them.
    binomialErrors: True
    xmin: 0.5
    ymax: 1000000
    figsize: [7, 6] # [width, hight]
    WorkingPoints: [0.60, 0.70, 0.77, 0.85]
    UseAtlasTag: True # Enable/Disable AtlasTag
    AtlasTag: "Internal Simulation"
    SecondTag: "\n$\\sqrt{s}=13$ TeV, PFlow Jets,\n$t\\bar{t}$ Validation Sample, fc=0.018"
    yAxisAtlasTag: 0.9 # y axis value (1 is top) for atlas tag

eff_vs_pt:
  type: "ROCvsVar"
  tagger_name: "DL1"
  recompute: True
  evaluation_file:
  data_set_name: "ttbar"
  data_set_for_cut_name: "ttbar"
  class_labels: ["ujets", "cjets", "bjets"]
  flat_eff: True
  efficiency: 70
  frac_values: {
    "cjets": 0.018,
    "ujets": 0.882,
    "taujets": 0.1,
  }
  main_class: "bjets"
  variable: pt
  max_variable: 1500000
  min_variable: 10000
  nbin: 100
  var_bins: [20, 30, 40, 50, 75, 100, 150, 250]
  xticksval: [20, 50, 100, 150, 200, 250]
  xticks: ["", "$50$", "$100$", "$150$", "$200$", "$250$"]
  plot_settings:
    xlabel: "$p_T$ [GeV]"
    minor_ticks_frequency: 10
    UseAtlasTag: True
    AtlasTag: "Internal"
    SecondTag: "$\\sqrt{s}$ = 13 TeV, $t\\bar{t}$"
    ThirdTag: "Flat efficiency DL1r"
    Log: True

eff_vs_pt_comp:
  type: "ROCvsVar_comparison"
  tagger_name: "DL1"
  recompute: False
  models_to_plot:
    model1:
      data_set_name: "ttbar"
      data_set_for_cut_name: "ttbar"
      class_labels: ["ujets", "cjets", "bjets"]
      label: "first"
    model2:
      evaluation_file:
      data_set_name: "ttbar"
      data_set_for_cut_name: "ttbar"
      recompute: True
      tagger_name: "DL1"
      class_labels: ["ujets", "cjets", "bjets"]
      label: "second"
      cut_value:
  flat_eff: False
  efficiency: 70
  frac_values: {
    "cjets": 0.018,
    "ujets": 0.882,
    "taujets": 0.1,
  }
  main_class: "bjets"
  variable: pt
  max_variable: 1500000
  min_variable: 10000
  nbin: 100
  var_bins: [20, 30, 40, 50, 75, 100, 150, 250]
  xticksval: [20, 50, 100, 150, 200, 250]
  xticks: ["", "$50$", "$100$", "$150$", "$200$", "$250$"]
  plot_settings:
    xlabel: "$p_T$ [GeV]"
    minor_ticks_frequency: 10
    UseAtlasTag: True
    AtlasTag: "Internal"
    SecondTag: "$\\sqrt{s}$ = 13 TeV, $t\\bar{t}$"
    ThirdTag: "Flat efficiency DL1r"
    Log: True
