# Evaluation parameters
Eval_parameters:
  Path_to_models_dir: <Path_to_models_dir>
  model_name: DL1r_22M
  epoch: 10
  epoch_to_name: True

# Contour fraction plot
contour_fraction_ttbar:
  type: "Frac_Contour"
  rejections: ["ujets", "cjets"]
  models_to_plot:
    dl1r:
      tagger_name: "DL1"
      colour: "b"
      linestyle: "--"
      label: "DL1r"
      data_set_name: "ttbar_r21"
      marker:
        cjets: 0.1
        ujets: 0.9
  plot_settings:
    y_scale: 1.3 # Increasing of the y axis so the plots dont collide with labels (mainly atlas_first_tag)
    use_atlas_tag: True # Enable/Disable atlas_first_tag
    atlas_first_tag: "Simulation Internal"
    atlas_second_tag: "$\\sqrt{s}=13$ TeV, PFlow jets,\n$t\\bar{t}$ test sample, WP = 77 %"

scores_DL1r: # Each item on this level defines one plot. The name of this key is later used for the name of the output file.
  type: "scores"
  main_class: "bjets"
  models_to_plot:
    DL1r:
      data_set_name: "ttbar_r21"
      tagger_name: "DL1"
      class_labels: ["ujets", "cjets", "bjets"]
      label: "$t\\bar{t}$"
  plot_settings:  # All options of the score plot can be changed here
    use_atlas_tag: True # Enable/Disable atlas_first_tag
    atlas_first_tag: "Simulation Internal"
    atlas_second_tag: "$\\sqrt{s}=13$ TeV, PFlow jets,\n$t\\bar{t}$ test sample"

confusion_matrix_DL1r:
  type: "confusion_matrix"
  data_set_name: "ttbar_r21"
  tagger_name: "DL1"
  class_labels: ["ujets", "cjets", "bjets"]
  plot_settings:
    colorbar: True

DL1r_light_flavour:
  type: "ROC"
  main_class: "bjets"
  models_to_plot:
    DL1r: # The name here has no impact on anything.
      data_set_name: "ttbar_r21"
      label: "DL1r"
      tagger_name: "DL1"
      rejection_class: "cjets"
  plot_settings: # These settings are given to the umami.evaluation_tools.plotROCRatio() function by unpacking them.
    draw_errors: True
    xmin: 0.5
    ymax: 1000000
    figsize: [7, 6] # [width, hight]
    working_points: [0.60, 0.70, 0.77, 0.85]
    use_atlas_tag: True # Enable/Disable atlas_first_tag
    atlas_first_tag: "Simulation Internal"
    atlas_second_tag: "$\\sqrt{s}=13$ TeV, PFlow jets,\n$t\\bar{t}$ Validation Sample, fc=0.018"
