# Evaluation parameters, these are global parmeters defining the default evaluation file.
Eval_parameters:
  Path_to_models_dir: /nfs/dust/atlas/user/ahnenjan/phd/umami/run/models/24_1_umami_dlw_1_lt22M/
  model_name: umami_looseTrack_22M
  epoch: 249
  bool_use_taus: False

# Dips, ttbar
scores_Umami_ttbar:
  type: "scores"
  data_set_name: "ttbar" # data set to use. This chooses either the test_file ('ttbar') or the add_test_file ('zpext')
  prediction_labels: ["umami_pb", "umami_pc", "umami_pu"] # For umami use umami_pX or dips_pX
  plot_settings:
    WorkingPoints: [0.60, 0.70, 0.77, 0.85] # Set Working Point Lines in plot
    nBins: 50 # Number of bins
    yAxisIncrease: 1.3 # Increasing of the y axis so the plots dont collide with labels (mainly AtlasTag)
    UseAtlasTag: True # Enable/Disable AtlasTag
    AtlasTag: "Internal Simulation"
    SecondTag: "\n$\\sqrt{s}=13$ TeV, PFlow Jets,\n$t\\bar{t}$ Test Sample"
    yAxisAtlasTag: 0.9 # y axis value (1 is top) for atlas tag

# Dips, ttbar
scores_Dips_ttbar_comparison:
  type: "scores_comparison"
  models_to_plot:
    umami_r21:
      data_set_name: "ttbar"
      label: "$t\\bar{t}$"
      prediction_labels: ["umami_pb", "umami_pc", "umami_pu"] # For umami use umami_pX or dips_pX
    umami_r22: # The name here has no impact on anything.
      data_set_name: "zpext"
      label: "$Z'$"
      prediction_labels: ["umami_pb", "umami_pc", "umami_pu"] # For umami use umami_pX or dips_pX
  plot_settings:
    WorkingPoints: [0.60, 0.70, 0.77, 0.85] # Set Working Point Lines in plot
    nBins: 50 # Number of bins
    yAxisIncrease: 1.4 # Increasing of the y axis so the plots dont collide with labels (mainly AtlasTag)
    figsize: [8, 6] # [width, hight]
    UseAtlasTag: True # Enable/Disable AtlasTag
    AtlasTag: "Internal Simulation"
    SecondTag: "\n$\\sqrt{s}=13$ TeV, PFlow Jets"
    yAxisAtlasTag: 0.9 # y axis value (1 is top) for atlas tag
    Ratio_Cut: [0.5, 1.5]

confusion_matrix_Umami_ttbar:
  type: "confusion_matrix"
  data_set_name: "ttbar"
  prediction_labels: ["umami_pb", "umami_pc", "umami_pu"] # For umami use umami_pX or dips_pX. The order matters!

# Scanning b-eff, comparing Umami and DL1r, ttbar
beff_scan_tagger_compare_umami:
  type: "ROC"
  models_to_plot:
    DL1r_ttbar_urej: # The name here has no impact on anything.
      data_set_name: "ttbar"
      label: "DL1r u-rej"
      df_key: "DL1r_urej" # This is actually the rejection rate of the DL1r tragger trained with the umami framework
    umami_ttbar_urej: # The name here has no impact on anything.
      data_set_name: "ttbar"
      label: "Umami u-rej"
      df_key: "umami_urej" # This is actually the rejection rate of the DL1r tragger trained with the umami framework
    DL1r_ttbar_crej: # The name here has no impact on anything.
      data_set_name: "ttbar"
      label: "DL1r c-rej"
      df_key: "DL1r_crej" # This is actually the rejection rate of the DL1r tragger trained with the umami framework
    umami_ttbar_crej: # The name here has no impact on anything.
      data_set_name: "ttbar"
      label: "Umami c-rej"
      df_key: "umami_crej" # This is actually the rejection rate of the DL1r tragger trained with the umami framework
  plot_settings: # These settings are given to the umami.evaluation_tools.plotROCRatio() function by unpacking them.
    ylabel: "light"
    binomialErrors: true
    UseAtlasTag: True # Enable/Disable AtlasTag
    AtlasTag: "Internal Simulation"
    SecondTag: "\n$\\sqrt{s}=13$ TeV, PFlow Jets,\n$t\\bar{t}$ Validation Sample, fc=0.018"
    which_axis: ["left",  "left", "right",  "right"]
    colors: ["red", "red", "blue", "blue"]
    styles: ["-","--","-","--"]
    ratio_id: [1,1,2,2]
    set_logy: false
    ylabel_right: "c"
    ycolor: "red"
    ycolor_right: "blue"
    xmin: 0.6
