# Set modelname and path to Pflow preprocessing config file
model_name: umami_dev
preprocess_config: /nfs/dust/atlas/user/ahnenjan/phd/umami/umami-git/examples/PFlow-Preprocessing-DESY.yaml

# Add training file
train_file: /nfs/dust/atlas/user/ahnenjan/phd/umami/run/samples/standard_mc16d_ttbar_Zext__2M/preprocessed/PFlow-hybrid_70-test-preprocessed_shuffled.h5

# Add validation files
# ttbar val
validation_file: /nfs/dust/atlas/user/ahnenjan/phd/umami/run/samples/standard_mc16d_ttbar_Zext__2M/hybridLargeFiles/MC16d_hybrid_odd_1_PFlow-no_pTcuts-file_0.h5

# zprime val
add_validation_file: /nfs/dust/atlas/user/ahnenjan/phd/umami/run/samples/standard_mc16d_ttbar_Zext__2M/hybridLargeFiles/MC16d_hybrid-ext_odd_0_PFlow-no_pTcuts-file_0.h5

ttbar_test_files:
    ttbar_r21:
        Path: /nfs/dust/atlas/user/ahnenjan/phd/umami/run/samples/standard_mc16d_ttbar_Zext__2M/hybridLargeFiles/MC16d_hybrid_odd_1_PFlow-no_pTcuts-file_1.h5
        data_set_name: "ttbar"

zpext_test_files:
    zpext_r21: 
        Path: /nfs/dust/atlas/user/ahnenjan/phd/umami/run/samples/standard_mc16d_ttbar_Zext__2M/hybridLargeFiles/MC16d_hybrid-ext_odd_0_PFlow-no_pTcuts-file_1.h5
        data_set_name: "zpext"

# Path to Variable dict used in preprocessing
var_dict: /nfs/dust/atlas/user/ahnenjan/phd/umami/umami-git/umami/configs/Umami_Variables.yaml

bool_use_taus: False

exclude: []

NN_structure:  
    lr: 0.01
    batch_size: 5000
    epochs: 200
    nJets_train:
    # DIPS structure
    DIPS_ppm_units: [100, 100, 128]
    DIPS_dense_units: [100, 100, 100, 30]
    # These are the layers that will be concatenated with the last layer of DIPS_dense_uits
    intermediate_units: [72]
    # DL1 structure
    DL1_units: [57, 60, 48, 36, 24, 12, 6]
    # total loss = loss(umami) + dips_loss_weight * loss(dips)
    dips_loss_weight: 1

Eval_parameters_validation:
    # Number of jets used for each validation sample. Set this to 0 if you have memory problems
    n_jets: 100000
    fc_value: 0.018
    WP_b: 0.77
    # fc_value and WP_b are autmoatically added to the plot label
    UseAtlasTag: True
    AtlasTag: "Internal Simulation"
    SecondTag: "\n$\\sqrt{s}=13$ TeV, PFlow jets"

    # Set the datatype of the plots
    plot_datatype: "pdf"
