pTvariable: pt_btagJes
etavariable: absEta_btagJes
DebugLevel: INFO
TFDebugLevel: 1
MPLPlottingBackend: Agg
# definition of the flavour categories
flavour_categories:
  bjets:
    # for now HadronConeExclTruthLabelID and HadronConeExclExtendedTruthLabelID
    # more to come hopefully
    label_var: HadronConeExclTruthLabelID
    # EDM ID
    label_value: 5
    # colour used to plot this category
    colour: "#1f77b4"  # blue
    # label used in the plotting
    legend_label: $b$-jets
    prob_var_name: "pb"
  cjets:
    label_var: HadronConeExclTruthLabelID
    label_value: 4
    colour: "#ff7f0e"  # orange
    legend_label: $c$-jets
    prob_var_name: "pc"
  ujets:
    label_var: HadronConeExclTruthLabelID
    label_value: 0
    colour: "#2ca02c"  # green
    legend_label: light-flavour jets
    prob_var_name: "pu"
  taujets:
    label_var: HadronConeExclTruthLabelID
    label_value: 15
    colour: "#7c5295"  # purple
    legend_label: $\tau$-jets
    prob_var_name: "ptau"
  singlebjets:
    label_var: HadronConeExclExtendedTruthLabelID
    label_value: [5, 54]
    colour: "#1f77b4"  # blue (same as bjets)
    legend_label: $b$-jets
    prob_var_name: "pb"
  bbjets:
    label_var: HadronConeExclExtendedTruthLabelID
    label_value: 55
    colour: "#012F51"  # dark blue
    legend_label: $bb$-jets
    prob_var_name: "pbb"
  singlecjets:
    label_var: HadronConeExclExtendedTruthLabelID
    label_value: 4
    colour: "#ff7f0e"  # orange (same as cjets)
    legend_label: $c$-jets
    prob_var_name: "pc"
  ccjets:
    label_var: HadronConeExclExtendedTruthLabelID
    label_value: 44
    colour: ""
    legend_label: $cc$-jets
    prob_var_name: "pcc"
  upjets:
    label_var: PartonTruthLabelID
    label_value: 1
    colour: ""
    legend_label: $u$-jets
    prob_var_name: "pup"
  djets:
    label_var: PartonTruthLabelID
    label_value: 2
    colour: ""
    legend_label: $d$-jets
    prob_var_name: "pd"
  sjets:
    label_var: PartonTruthLabelID
    label_value: 3
    colour: ""
    legend_label: $s$-jets
    prob_var_name: "ps"
  gluonjets:
    label_var: PartonTruthLabelID
    label_value: 21
    colour: ""
    legend_label: gluon-jets
    prob_var_name: "pg"
  lightwogluons:
    label_var: PartonTruthLabelID
    label_value: [1,2,3]
    colour: ""
    legend_label: light-jets w/o gluons
    prob_var_name: "plwog"
  hadrbdecay:
    label_var: LeptonDecayLabel
    label_value: 0
    colour: ""
    legend_label: hadronic $b$-hadron decay
    prob_var_name: "phadrb"
  singleebdecay:
    label_var: LeptonDecayLabel
    label_value: 1
    colour: ""
    legend_label: $e$'s in $b$- or $c$-hadron decay
    prob_var_name: "pe"
  singlemubdecay:
    label_var: LeptonDecayLabel
    label_value: 2
    colour: ""
    legend_label: $\\mu$'s in $b$- or $c$-hadron decay
    prob_var_name: "pmu"
  singletaubdecay:
    label_var: LeptonDecayLabel
    label_value: 3
    colour: ""
    legend_label: \u03C4's in $b$- or $c$-hadron decay # \u03C4: unicode for small tau
    prob_var_name: "ptau"

# plot style definitions
hist_err_style:
  fill: False
  linewidth: 0
  hatch: "/////"
  edgecolor: "#666666"

# Track origin map
OriginType:
  Pileup: 0
  Fake: 1
  Primary: 2
  FromB: 3
  FromBC: 4
  FromC: 5
  FromTau: 6
  OtherSecondary: 7

# Plot labels for different processes (different taggers/studies use different
# samples, i.e. studies which add bb-jets use Z+jets samples instead of Z')
# This naming convention has to be used in the preprocessing as well
process_labels:
  ttbar:
    label: "$t\\bar{t}$"
  zprime:
    label: "$Z'$"
  zjets:
    label: "$Z$+jets"
